asgiref==3.2.10
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.1
django-crispy-forms==1.9.2
django-heroku==0.3.1
gunicorn==20.0.4
imbox==0.9.8
numpy==1.19.2
opencv-python==4.4.0.42
Pillow==7.2.0
psycopg2==2.8.6
pytesseract==0.3.6
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
sqlparse==0.3.1
whitenoise==5.2.0
